.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar-d {
  margin-bottom: -7vh;
  position: relative;
  z-index: 1;
}

.navbar-m {
  background-color: black;
}

.carousel-caption-d {
  margin-bottom: 5%;
}

.carousel-caption-d Button {
  background-color: #cc4400;
  border:2px solid transparent
}

.searchC {
  display:flex;
  justify-content: center;
}

.searchC-icon {
  margin-left: -3vh;
  position: relative;
  z-index: 1;
  margin-top: 1vh;
  font-size:20px
}

.trending-card:hover {
  background-color: #cc4400;
  position:relative;
  zIndex:1
}